<h3 class="my-h3">sccdscsddcsdc</h3>
<hr />

<div style="margin-top: 2rem;" class="container">

    <div class="row">
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
        <div class="col-sm">
            <news-small-preview id="1255"></news-small-preview>
        </div>
    </div>

</div>