<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="logo">
                <a href="/">
                    <img src="/assets/images/logo.png">
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="top-bnr">
                <a href="#">
                    <img src="http://media.alamaltaqa.com/uploads/banners/235df1de-bbc4-4728-9580-deb3ff241367.jpg">
                </a>
            </div>
        </div>
    </div>
   
        
        <navbar></navbar>
  
  
</div>