<!-- <div style="width:60%"> -->
    <h2 class="my-news-title">الحكومة تعلن رسميًا الموافقة على فتح توصيل الكهرباء للمباني العشوائية</h2>
    <img class="my-img" src="https://i.imgur.com/xxCZ8pJ.png">
    <div class="fa fa-clock-o my-time-stamp">1-يناير-2020 | 04:32 ص</div>
    <p style="color:#5a5a5a">وافق مجلس الوزراء على إلغاء نظام الممارسات المعمول به بشركات توزيع الكهرباء المملوكة للدولة، واستبداله بنظام العدادات الكودية، من خلال إعادة تفعيل قرار رئيس مجلس الوزراء رقم 886 لسنة 2016، والمعدل بالقرار رقم 231 لسنة 2017 بتركيب عدادات كودية مؤقتة لكافة المنشآت والمباني التي تم توصيل التيار الكهربائي إليها بطريقة غير قانونية لحين تقنين هذه المنشآت والمباني، أو تنفيذ الأحكام والقرارات الإدارية الصادرة بشأنها ودون أن يرتب ذلك أية حقوق قانونية للمخالفين، وقيام وزير الكهرباء والطاقة المتجددة بإصدار القواعد التنفيذية بناء على ذلك. بحسب بيان الحكومة منذ قليل، عقب اجتماع الحكومة الأسبوعي.​</p>
<!-- </div> -->